<% provide(:title, "Help") %>

        <h1>Help</h1>
            <p>
            To get help on this sample app, send e-mail to the
            <a href="dkrestt@gmail.com"><em>Daria Lobanova</em>
            </a>
            </p>
