<% @posts.each do |post| %>
  <div class="posts">
    <h1><%= post.title %></h1>
    <p><%= post.content %></p>
    <br>
    <%= link_to 'Show post', post_path(post) %>
  </div>
<% end %>






<%# @post_category.attributes %>
<%# @posts.map{|p| p.attributes.to_s  + "<hr/>" }.to_s.html_safe %>
