<% provide(:title, "Posts") %>
<h1>All posts</h1>

<%= form_with(model: @post, local: true), url: {action: "show"}, html: {method: "get"} do |f| %>
 <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Categories</label>
            <%= f.select :post_category_title, options_for_select(@post_categories.collect { |post_category| [post_category.title, post_category.id] }),
                          { id: 'post_categories_select' }, {include_blank: 'no category'} %>
          </div>
        </div>
      </div>
<ul class="posts">
   <% render @posts %>
   <%= will_paginate @posts %>
</ul>				
<% end %>
